body {
  background-color: snow;
}
.loading-modal,
.login-page-container .loading-modal,
.register-page-container .loading-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border: red;
}
.loading-modal .modal-box {
  background-color: #fefefe;
  margin: 19% auto;
  padding: 20px;
  border: 1px solid red;
  width: 15%;
  height: 13%;
}
.loading-modal .modal-box .loader {
  border: 6px solid #cab5b5;
  border-top: 6px solid red;
  border-radius: 50%;
  margin: auto;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
button,
.login-page-container .login-box .login-form button,
.register-page-container .register-box .register-form button,
.profile-page-container .the-modal .the-modal-content button,
.profile-page-container .tabs button,
.profile-page-container .takepart-btn,
.profile-page-container .edit-box .edit-form button {
  border: none;
  border-radius: 5px;
  background: red;
  color: white;
}
button:hover,
.login-page-container .login-box .login-form button:hover,
.register-page-container .register-box .register-form button:hover,
.profile-page-container .the-modal .the-modal-content button:hover,
.profile-page-container .tabs button:hover,
.profile-page-container .takepart-btn:hover,
.profile-page-container .edit-box .edit-form button:hover {
  background-color: #fa3a3a;
}
.login-page-container {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}
.login-page-container .login-page-content {
  position: relative;
  display: inline-block;
  left: -10%;
}
.login-page-container .login-page-content img {
  max-width: 350px;
  max-height: 467px;
}
.login-page-container .login-page-content h2 {
  margin-top: 5%;
}
.login-page-container .login-box {
  position: relative;
  display: inline-block;
  right: -20%;
  width: 20%;
  height: 380px;
  margin: 6% 10% 0 0;
  box-shadow: -2px 3px 24px -2px rgba(83, 77, 77, 0.75);
  background: #fff;
}
.login-page-container .login-box .box-content {
  margin-top: 20px;
}
.login-page-container .login-box .login-form {
  padding-top: 25px;
}
.login-page-container .login-box .login-form button,
.login-page-container
  .login-box
  .login-form
  .profile-page-container
  .takepart-btn,
.profile-page-container
  .login-page-container
  .login-box
  .login-form
  .takepart-btn {
  width: 90%;
  margin-top: 20px;
  padding: 5px 0px;
  outline: none;
}
.login-page-container .login-box .login-form button:hover,
.login-page-container
  .login-box
  .login-form
  .profile-page-container
  .takepart-btn:hover,
.profile-page-container
  .login-page-container
  .login-box
  .login-form
  .takepart-btn:hover {
  background-color: #c21313;
}
.login-page-container .login-box .register-request {
  margin-top: 15px;
  font-size: 15px;
}
.login-page-container .login-box .register-request span {
  color: red;
}
.login-page-container .login-box .register-request span:hover {
  text-decoration: underline;
}
.register-page-container {
  min-height: 100%;
  position: relative;
  padding-bottom: 25px;
}
.register-page-container .modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.register-page-container .modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid red;
  width: 25%;
  height: 23%;
}
.register-page-container .modal .modal-content h2 {
  margin: 10px 0px;
}
.register-page-container .modal .modal-content a {
  padding: 3px 0px;
  margin-top: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.register-page-container .modal .modal-content a span {
  color: white;
}
.register-page-container .side-content {
  position: absolute;
  display: inline-block;
  top: 80px;
  left: 7%;
  max-width: 30%;
  padding: 21px 0px;
  background: #940000;
  color: #fff;
  border: 0.5px red solid;
  border-radius: 10px;
  margin-left: 100px;
}
.register-page-container .side-content ul li {
  margin-right: 10px;
  list-style-type: none;
  padding: 10px 0px;
  text-align: left;
}
.register-page-container .register-box {
  position: relative;
  display: inline-block;
  right: -22%;
  margin-bottom: 80px;
  margin-top: 80px;
  width: 35%;
  margin-right: 150px;
  border: 0.5px red solid;
  border-radius: 10px;
  background: #fff;
}
.register-page-container .register-box .register-form {
  padding: 20px 0px;
}
.register-page-container .register-box .register-form button,
.register-page-container
  .register-box
  .register-form
  .profile-page-container
  .takepart-btn,
.profile-page-container
  .register-page-container
  .register-box
  .register-form
  .takepart-btn {
  width: 90%;
  margin-top: 20px;
  padding: 5px 0px;
}
.register-page-container .register-box .register-form button:hover,
.register-page-container
  .register-box
  .register-form
  .profile-page-container
  .takepart-btn:hover,
.profile-page-container
  .register-page-container
  .register-box
  .register-form
  .takepart-btn:hover {
  background-color: #c21313;
}
.profile-page-container {
  min-height: 100%;
  position: relative;
  padding-bottom: 25px;
}
.profile-page-container .the-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.profile-page-container .the-modal .the-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid red;
  width: 25%;
  height: 29%;
}
.profile-page-container .the-modal .the-modal-content h2 {
  margin: 10px 0px;
}
.profile-page-container .the-modal .the-modal-content button,
.profile-page-container .the-modal .the-modal-content .takepart-btn {
  display: inline-block;
  width: 47%;
  padding: 3px 10px;
  margin-left: 4px;
}
.profile-page-container .the-modal .the-modal-content button button:hover,
.profile-page-container
  .the-modal
  .the-modal-content
  .takepart-btn
  button:hover,
.profile-page-container
  .the-modal
  .the-modal-content
  button
  .takepart-btn:hover,
.profile-page-container
  .the-modal
  .the-modal-content
  .takepart-btn
  .takepart-btn:hover {
  background: #7a0909;
}
.profile-page-container .info-box {
  position: relative;
  display: inline-block;
  top: 80px;
  left: -310px;
  max-width: 30%;
  min-width: 25%;
  padding: 21px 0px;
  background: #ff9090;
  color: #800;
  border: 0.5px red solid;
  border-radius: 10px;
  margin-left: 100px;
  margin-bottom: 350px;
}
.profile-page-container .info-box .ava-div {
  margin-bottom: 20px;
}
.profile-page-container .info-box .ava-div img {
  cursor: pointer;
  height: 150px;
  width: 150px;
  display: inline-block;
}
.profile-page-container .info-box button,
.profile-page-container
  .info-box
  .login-page-container
  .login-box
  .login-form
  button,
.login-page-container
  .login-box
  .login-form
  .profile-page-container
  .info-box
  button,
.profile-page-container
  .info-box
  .register-page-container
  .register-box
  .register-form
  button,
.register-page-container
  .register-box
  .register-form
  .profile-page-container
  .info-box
  button,
.profile-page-container .info-box .the-modal .the-modal-content button,
.profile-page-container .the-modal .the-modal-content .info-box button,
.profile-page-container .info-box .takepart-btn,
.profile-page-container .info-box .edit-box .edit-form button,
.profile-page-container .edit-box .edit-form .info-box button {
  display: inline-block;
  border-radius: 5px;
  border: none;
  width: 70%;
  margin-bottom: 20px;
}
.profile-page-container .tabs {
  position: absolute;
  display: inline-block;
  top: 80px;
  right: 375px;
}
.profile-page-container
  .tabs
  .login-page-container
  .login-box
  .login-form
  button,
.login-page-container
  .login-box
  .login-form
  .profile-page-container
  .tabs
  button,
.profile-page-container
  .tabs
  .register-page-container
  .register-box
  .register-form
  button,
.register-page-container
  .register-box
  .register-form
  .profile-page-container
  .tabs
  button,
.profile-page-container .tabs .the-modal .the-modal-content button,
.profile-page-container .the-modal .the-modal-content .tabs button,
.profile-page-container .tabs button,
.profile-page-container .tabs .takepart-btn,
.profile-page-container .tabs .edit-box .edit-form button,
.profile-page-container .edit-box .edit-form .tabs button {
  padding: 3px 8px;
}
.profile-page-container .tabContent {
  display: none;
  position: absolute;
  width: 33%;
  top: 110px;
  right: 260px;
  color: #800;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 20px;
  background: #fff;
}
.profile-page-container .tabContent .history-container {
  border-bottom: 0.5px red solid;
}
.profile-page-container .tabContent .history-container:last-child {
  border: none;
}
.profile-page-container .tabContent .pending-container {
  border-bottom: 0.5px red solid;
}
.profile-page-container .tabContent .pending-container:last-child {
  border: none;
}
.profile-page-container .tabContent .don-location {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  left: -140px;
}
.profile-page-container .tabContent .don-time {
  margin-top: 10px;
  position: absolute;
  left: 165px;
  display: inline-block;
}
.profile-page-container .tabContent .done {
  margin-top: 10px;
  position: absolute;
  right: 80px;
  display: inline-block;
}
.profile-page-container .tabContent .cancel {
  margin-top: 10px;
  position: absolute;
  right: 20px;
  display: inline-block;
}
.profile-page-container .takepart-btn {
  margin-top: 15px;
  width: 89%;
  padding: 5px 0px;
}
.profile-page-container .edit-box {
  position: absolute;
  display: none;
  top: 0px;
  left: 47%;
  margin-top: 80px;
  width: 33%;
  margin-right: 150px;
  border: 0.5px red solid;
  border-radius: 10px;
  background: #fff;
}
.profile-page-container .edit-box h1 {
  position: relative;
  top: 20px;
}
.profile-page-container .edit-box .edit-form {
  padding: 20px 0px;
}
.profile-page-container .edit-box .edit-form .takepart-btn,
.profile-page-container .edit-box .edit-form button {
  width: 90%;
  margin-top: 15px;
  padding: 5px 0px;
}
