.navbar__logo {
  position: absolute;
  left: 10px;
  font-size: 30px;
}
@media all and (max-width: 720px) {
  .navbar__logo {
    font-size: 20px;
  }
}
@media all and (max-width: 600px) {
  .navbar__logo {
    position: relative;
    font-size: 20px;
  }
}
.navbar__logo button {
  background: none;
  border: none;
  font-size: 20px;
}
.navbar__logo button:focus {
  outline: none;
}
.navbar__logo button:hover {
  cursor: pointer;
}
