.text-label {
  display: block;
  text-align: left;
  padding-left: 6%;
  margin-bottom: 2px;
  font-size: 18px;
}
.text-input {
  width: 90%;
  margin: auto;
  padding: 2px 4px;
  margin-bottom: 3px;
}
.text-input .text {
  display: inline-block;
  height: 35px;
}
.select-label {
  display: block;
  text-align: left;
  padding-left: 6%;
  margin-bottom: 2px;
  font-size: 18px;
}
.select-input {
  display: block;
  width: 90%;
  margin: auto;
  padding: 2px 4px;
  margin-bottom: 3px;
}
.form-feedback {
  position: absolute;
  text-align: right;
  right: 17px;
}
