//common
%info-page-shared {
  z-index: 1;
  position: absolute;
  margin: auto;
  top: 50px;
  left: 30%;
  height: 40%;
  width: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mission {
  height: 100vh;
  &__hero-image {
    @extend %info-page-shared;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../image//mission-pic.jpg");
  }
}

.vision {
  height: 100vh;
  &__hero-image {
    @extend %info-page-shared;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../image//vision-pic.jpg");
  }
}
.about {
  height: 100vh;
  &__hero-image {
    @extend %info-page-shared;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../image//about-pic.jpg");
  }
}

.mission,
.vision,
.about {
  &__hero-title {
    position: relative;
    top: 100px;
    color: white;
  }

  &__content-container {
    top: 200px;
    width: 50%;
    position: relative;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    border: 1px solid rgb(156, 157, 165);
    border-radius: 10px;
  }

  &__content {
    margin: 100px 10px 100px 10px;
  }
}
