.edit-page-container {
  margin-bottom: 150px;
  .edit-form {
    position: relative;
    top: 50px;
    left: 15%;
    @media all and (max-width: 600px) {
      left: 7%;
    }
    &__title {
      position: relative;
      text-align: left;
      left: 22%;
    }

    &__btn {
      position: relative;
      left: 34%;
      @media all and (max-width: 600px) {
        left: auto;
      }
    }
  }
}
