.card {
  position: relative;
  top: 100px;
  left: 25%;

  &__title {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  // &__avatar {
  //   border-radius: 50%;
  // }

  &__avatar-input {
    display: none;
  }
}
