.card {
  position: relative;
  top: 100px;
  left: 25%;
  @media all and (max-width: 1100px) {
    left: 10%;
  }
  @media all and (max-width: 900px) {
    top: 30px;
    left: auto;
    margin: auto;
  }
  &__title {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__avatar-input {
    display: none;
  }
}
